<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://kit.fontawesome.com/8deb314de0.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" />

<title>VayOnline365</title>
</head>

<body>
	<div class="container">
		<header>

			<div class="header-top">
				<div>
					<a th:href="@{/}" class="logo link">VayOnline365</a>
				</div>
				<div class="header-right-1 header-right">
					<div>
						<a th:href="@{/}" class="link">Vay App</a>
					</div>
					<div>
						<a th:href="@{/vaytinchap}" class="link">Vay tín chấp</a>
					</div>
					<div class="link-3">
						<a href="#" class="link">Thẻ tín dụng</a>
						<div class="credit-list">
							<a href="https://shorten.asia/tANxYRTA" class="link">VIB
								Financial</a> <a href="https://shorten.asia/AshEjGvP" class="link">VIB
								Bank</a> <a href="https://shorten.asia/N6g3914h" class="link">TPBank
								EVOCARD</a>
						</div>
					</div>

				</div>
				<div class="header-right-2">
					<div>
						<span class="link-mobile shortcut shortcut-1"
							onclick="showNavbar()"><i class="fa-solid fa-list"></i></span>
						<div class="header-right-mobile"></div>
						<div class="show">
							<div class="header-right-mobile">
								<div>
									<a th:href="@{/}" class="link-mobile">Vay App</a>
								</div>
								<div>
									<a th:href="@{/vaytinchap}" class="link-mobile">Vay tín
										chấp</a>
								</div>
								<div class="link-3">
									<a href="#" class="link-mobile">Thẻ tín dụng</a>
									<div class="credit-list">
										<a href="https://shorten.asia/tANxYRTA" class="link-credit">VIB
											Financial</a> <a href="https://shorten.asia/AshEjGvP"
											class="link-credit">VIB Bank</a> <a
											href="https://shorten.asia/N6g3914h" class="link-credit">TPBank
											EVOCARD</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</header>
		<main>
			<div class="section-1">
				<p>
					Hãy so sánh và lựa chọn một trong <strong th:text="${apps.size}"></strong>
					bên cho vay
				</p>
				<div class="item-container">
					<div class="item" th:each="app : ${apps}">
						<div class="item-img">
							<img th:src="@{'/images/'+${app.imageName}}" alt="" />
						</div>
						<div class="item-description">
							<p>
								<strong th:text="${app.name}"></strong>
							</p>
						</div>
						<div class="item-detail">
							<p>
								<span>Khoản vay từ</span> <span class="number"
									th:text="${app.minLoan}"></span>
							</p>
							<p>
								<span>Khoản vay tối đa</span><span class="number"
									th:text="${app.maxLoan}"></span>
							</p>
						</div>
						<div class="button">
							<a th:href="${app.link}" class="register">Đăng ký ngay</a>
						</div>
					</div>
				</div>
			</div>

		</main>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/vayvonnhanh.js}"></script>
</html>
